:root{
    --small-font: .6rem;
}

*{
    margin: 0;
    font-family: arial;
}

body{
    background-color: #1b232b;
}

.interface-container{
    background-color: black;
    width: 98vw;
    margin: auto;
}

/* stili per l'header */
header{
    text-align: end;
}

header button{
    background-color: #4a4a4a;
    color: white;
    font-size: var(--small-font);
    margin: .2rem .2rem 0 0;
    border-radius: .3rem;
}

/* stili per il main */

.img-container{
    padding: 2rem 3.5rem 1rem;
    color: white;
    text-align: center;
}
.img-row{
    margin: 0 auto .2rem;
    display: flex;
    justify-content: center;
    column-gap: .2rem;

}

.img-container img{
    width: 200px;
}
.card{
    position: relative;
}

.name{
    position: absolute;
    bottom: 3px;
    left: 0px;
    background-color: #4a4a4a;
    color: white;
    font-size: var(--small-font);
    padding: .2rem;
}

/* stili per il footer */
footer{
    color: white;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}

.icon-container{
    padding: .5rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}
.fa-angle-up{
    font-size: var(--small-font);
    padding: 0 1rem;
}
.align{
    text-align: center;
    display: block;
    
}
.comand{
    font-size: var(--small-font);
}

footer button{
    display: block;
    background-color: transparent;
    color: inherit;
    border: none;
    font-size: 1.8rem;
}